body{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    background: #eaeaea;
    color: #4e4e4e;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

a:hover{
    color: #6e6e6e;
}
#container {
	display: flex;
}