
.container {
    background-color: gray;
    width: auto;
    height: 500px;
    max-height: 1024px;
    border-style: groove;
    border-color: black;
    position: relative;
    margin: 3% 10% 4% 10%;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contenitoreEsterno {
    width: auto;
    padding: 40px;
    height: 300px;
    background-color: red;
    position: absolute;
    margin: 4% 20% 5% 18%;
    border-style: groove;
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border-radius: 50px;

}

.contenitoreCentrale {
    background-color: #7c0ced;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 700px;
    height: 110px;
    flex-direction: row;
    flex-wrap: wrap;
    top: 30%;
    border-style: groove;
    border-color: gray;
    border-radius: 50px;

}

.quadratini {
    background-color: blue;
    border-radius: 75px;
    height: 100px;
    width: 100px;
    border-style: groove;
    border-color: black;
    margin: 15px;
}

div.container .contenitoreEsterno .contenitoreCentrale .quadratini {
    height: 50px;
    width: 50px;
    box-shadow: inset;

}




