@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
   background-color: lightgray;
}

a{
    text-decoration: none;
    color: #4e4e4e;
}

a:hover{
    color: #6e6e6e;
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 30%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 7px 7px;
}

.testo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
